@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans Extrabold";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans-Semibold.ttf");
}

body {
  font-family: "Open Sans", serif;
}

.navbar-right {
  padding-right: 40px;
}

.nav a img {
  margin-top: 7px;
}

#main > div:nth-child(2) {
  margin-top: 60px;
}

.blocks_menu {

}

.blocks_menu li {
  width: 100%;
}

.blocks_menu .navbar-nav > li > a {
  padding: 5px 5px;
  color: #555555;
}

.blocks_menu {

}
