#team_registration .modal-content {
	padding: 0;
	background: #f4f4f4;
	width: 714px;
	min-height: 788px;
}

#team_registration .modal-content .close {
	background: none !important;
	opacity: 1;
}

#team_registration .window {
	padding: 0 50px 30px;
}

#team_registration .window hr {
	border-color: #d2d4cd;
	margin-bottom: 5px;
}

#team_registration .modal-content h1 {
	margin-top: 30px;
	margin-bottom: 20px;
}

#team_registration .modal-content p {
	color: #555555;
	font: 14px "Open Sans";
}

#team_registration .modal-content label {
	color: #555555;
	margin: 20px 0 10px;
}

#team_registration .modal-content .only_label {
	margin-bottom: 0;
}

#team_registration .modal-content .group_fields input {
	margin-bottom: 5px;
}

#team_registration .modal-content textarea {
	resize: none;
}

#team_registration .modal-content .download_photo {
	height: 40px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	color: #6e6e6e;
	font: 13px "Open Sans";
}

#team_registration .modal-content .download_photo div {
	display: inline-block;
	margin: 8px 23px;
}

#team_registration .modal-content .download_photo button {
	background: #6e6e6e !important;
	color: #ffffff !important;
	position: relative;
	bottom: 12px;
}

#team_registration .modal-content h6 {
	font: 11px "Open Sans";
	color: #6e6e6e;
}

#team_registration .modal-content .send_reg button {
	font: 14px "Open Sans Extrabold";
	width: 192px;
	height: 42px;
	padding-bottom: 10px;
}

.download_photo > input[type=file] {
	position: relative;
	bottom: 48px;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 9999;
}

.file_name {
	position: relative;
	height: 18px;
	width: 143px;
	white-space: nowrap;
	overflow: hidden;
}

.download_photo + .has-error {
	background: #ff0000;
}

/*Стили для карточки команы*/

#team_card .modal-content {
	width: 593px;
	min-height: 690px;
	background: #f4f4f4;
	border: none;
}

#team_card .modal-content .close {
	background: none !important;
	opacity: 1;
	position: absolute;
	top: -15px;
	right: -15px;
}

#team_card .modal-content .card_header {
	height: 100px;
	width: 100%;
	display: table;
}

#team_card .modal-content .card_header .team_name {
	display: table-cell;
	vertical-align: middle;

	font: 26px "Open Sans Bold";
	color: #002776;
	width: 50%;
}

#team_card .modal-content .card_header .team_logo {
	padding: 20px 60px;
}

#team_card .modal-content .card_header .team_logo img {
	max-height: 60px;
}

#team_card .modal-content .card_main {
	height: 355px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#team_card .modal-content .card_main .team_photo {
	width: 100%;
}

.donation_bar {
	position: absolute;
	bottom: 3px;
	left: 23px;
	color: #ffffff;
	font: 14px "Open Sans Bold";
}

.donation_bar .progress {
	height: 30px;
	width: 230px;
	background: #e5e5e5;
	margin-top: 15px;
}

.donation_bar .progress-bar-success {
	background: #95d123;
	font: 16px "Open Sans Semibold";
	line-height: 26px;
}

.donation_bar .team_amount {
	position: absolute;
	font: 20px "Open Sans Bold";
	line-height: 31px;
	color: #ffffff;
	bottom: 20px;
	left: 30px;
}

.donation_bar .progress-bar-success img {
	margin-top: 3px;
}

.donation_bar .progress-bar {
	text-align: left;
	padding-left: 7px;
}

.card_main .btn_support {
	position: absolute;
	bottom: 20px;
	right: 23px;
}

.card_text {
	padding: 10px 30px 70px;
}

.card_text h5 {
	font: 14px "Open Sans Bold";
	color: #555555;
}

.card_text p {
	font: 14px "Open Sans";
	color: #555555;
	margin: 0;
}

.card_text ul {
	padding: 0;
}

.card_text li {
	font: 14px "Open Sans";
	list-style: none;
}

#team_card .share_links span {
	margin-right: 23px;
}

#team_card .share_links {
	width: 100%;
	color: #002776;
	font-size: 14px;
	line-height: 63px;
	border-radius: 0 0 6px 6px;
	position: absolute;
	bottom: 0;
	background: #ffffff;
}

.share_links img {
	margin-right: 5px;
}

/*Стили для формы оплаты*/

#donate_form .modal-content {
	width: 594px;
	min-height: 788px;
	background: #4dc6f5;
}

#donate_form .close {
	background: none !important;
	opacity: 1;
	position: absolute;
	top: -15px;
	right: -15px;
}

#donate_form .donate_text {
	height: 270px;
}

#donate_form .donate_text h2 {
	font: 24px "Open Sans Bold";
	color: #ffffff;
	margin-top: 33px;
}

#donate_form .donate_text h2 img {
	margin-right: 25px;
}

#donate_form .donate_text p {
	font: 22px "Open Sans";
	color: #ffffff;
}

#donate_form .donate_text .common_donate > img {
	margin-top: 10px;
}

#donate_form .donate_text .team_donate {
	display: none;
}

#donate_form .donate_text .team_donate .teamName {
	border: #ffffff solid 3px;
	border-radius: 3px;
	width: 458px;
	height: 89px;
	margin: 20px auto;
	font: 26px "Open Sans Bold";
	color: #ffffff;
	line-height: 83px;
}

#donate_form .donate_text .team_donate p {
	font: 18px "Open Sans Bold";
}

#donate_form .donate_form {
	height: 367px;
	background: #37bcef;
	padding: 26px 64px;
	color: #ffffff;
	font: 16px "Open Sans Bold";
}

#donate_form .donate_form input[type=text] {
	margin-top: 10px;
	margin-bottom: 25px;
	font: 18px "Open Sans";
	color: #002776;
}

#donate_form .donate_form .radio {
	padding: 3px 0;
}

#donate_form .donate_form .radio_block {
	padding-top: 5px;
}

#donate_form .donate_form .radio_block > div {
	padding-right: 0;
}

#donate_form .donate_form input[type=radio] {
	display: none;
}

#donate_form .donate_form input[type=radio] + label {
	background: url("../img/donate_form/radiobutton.png") no-repeat scroll 0 0;
	cursor: pointer;
	padding-left: 25px;
	font: 15px "Open Sans";
}

#donate_form .donate_form input[type=radio]:checked + label {
	background: url("../img/donate_form/radiobutton_checked.png") no-repeat scroll 0 0;
}

#donate_form .donate_form .btn {
	font: 17px "Open Sans Bold";
	width: 186px;
	height: 53px;
	margin-top: 33px;

	background: #a1e129; /* Old browsers */
	background: -moz-linear-gradient(top, #a1e129 0%, #86be1b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a1e129), color-stop(100%, #86be1b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a1e129 0%, #86be1b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a1e129 0%, #86be1b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a1e129 0%, #86be1b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a1e129 0%, #86be1b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1e129', endColorstr='#86be1b', GradientType=0); /* IE6-9 */
}