@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "Open Sans Light";
	src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
	font-family: "Open Sans Bold";
	src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
	font-family: "Open Sans Extrabold";
	src: url("../fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
	font-family: "Open Sans Semibold";
	src: url("../fonts/OpenSans-Semibold.ttf");
}

body {
	font-family: "Open Sans", serif;
	background-color: #ffffff;
}

h1 {
	font: 42px "Open Sans Light";
	color: #002776;
	margin: 70px 0 30px;
}

button {
	background: #6fd7ff; /* Old browsers */
	background: linear-gradient(top, #6fd7ff 0%, #31b7ec 100%) !important;
	background: -moz-linear-gradient(top, #6fd7ff 0%, #31b7ec 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6fd7ff), color-stop(100%, #31b7ec)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6fd7ff 0%, #31b7ec 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6fd7ff 0%, #31b7ec 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6fd7ff 0%, #31b7ec 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom, #6fd7ff 0%, #31b7ec 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6fd7ff', endColorstr='#31b7ec', GradientType=0) !important; /* IE6-9 */
}

button:hover {
	background: #37bbee !important; /* Old browsers */
	background: -moz-linear-gradient(top, #37bbee 0%, #1f86cb 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #37bbee), color-stop(100%, #1f86cb)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #37bbee 0%, #1f86cb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #37bbee 0%, #1f86cb 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #37bbee 0%, #1f86cb 100%) !important; /* IE10+ */
	background: linear-gradient(to bottom, #37bbee 0%, #1f86cb 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37bbee', endColorstr='#1f86cb', GradientType=0) !important; /* IE6-9 */
	background-position: 0 0 !important;
}

button:active {
	background: #00a1de !important;
	outline: none;
}

button:focus {
	outline: none !important;
}

#main {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.navbar {
	background: #ffffff;
	height: 55px;
	padding-right: 56px;
}

.navbar-right li a {
	color: #00a1de !important;
	font: 18px "Open Sans Semibold";
}

.navbar-left li a {
	padding: 10px;
}

#title {
	height: 794px;
	background: url("../img/title/title_bg_with_logo_icons.jpg") center no-repeat;
	font: 42px "Open Sans Light";
	color: #ffffff;
}

#title .funded_text {
	display: inline-block;
	position: relative;
	top: 350px;
}

#title .funded_text div {
	background: url("../img/title/text_bg_sm.png") no-repeat;
	background-size: 100%;
	padding: 0 20px;
}

#title .funded_text .line1 {
	position: relative;
	right: 5%;
	height: 60px;
}

#title .funded_text .line2 {
	position: relative;
	left: 5%;
	margin-top: 2px;
	height: 60px;
}

#title .funded_amount {
	font: 80px "Open Sans Light";
	color: #002776;
	letter-spacing: 15px;
	line-height: 1.05;
	background: url("../img/title/funded_amount.png") no-repeat;
	display: inline-block;
	padding-left: 7px;
	padding-right: 60px;
	padding-bottom: 10px;
	position: relative;
	top: 370px;
}

#title #btn_title_donate {
	width: 252px;
	height: 65px;
	font: 18px "Open Sans ExtraBold";
	position: relative;
	top: 420px;
	border-radius: 9px;
}

.social_links {
	background: url("../img/social_links/social_links_bg.jpg");
	height: 78px;
}

.social_links img {
	margin-right: 5px;
}

.social_links .extra_mile_links {
	display: inline-block;
	color: #95d123;
	font-size: 18px;
	line-height: 78px;
	padding-left: 160px;
}

.social_links .extra_mile_links span, .social_links .share_links span {
	margin-right: 23px;
}

.social_links .share_links {
	display: inline-block;
	color: #002776;
	font-size: 16px;
	line-height: 78px;
	padding-right: 160px;
}

#big_menu {
	height: 92px;
	font-size: 18px;
	padding-top: 10px;
}

.menu_fixed {
	position: fixed;
	top: 55px;
	width: 100%;
	z-index: 1031;
	background: #ffffff;
}

.menu_fixed:hover {
	opacity: 1;
}

#menu a {
	color: #002776;
	text-decoration: none;
	font: 18px "Open Sans Semibold";
	display: inline-block;
	line-height: 50px;
	padding: 0 18px;
}

#menu .active {
	background-image: -webkit-linear-gradient(top, #ebebeb 0, #f3f3f3 100%);
	background-image: linear-gradient(to bottom, #ebebeb 0, #f3f3f3 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff3f3f3', GradientType=0);
	-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
	box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}

#menu a:first-child {

}

#fund_raising {
	min-height: 770px;
	background: url("../img/fund_raising_bg.jpg") center no-repeat;
}

p {
	color: #92d400;
	font: 20px "Open Sans";
	margin: 0 70px;
}

.leaders_team {
	padding: 100px 130px 0;
	color: #002776;
}

.leaders_team .second_team .leader_card, .leaders_team .third_team .leader_card {
	height: 387px;
	width: 283px;
	background: url("../img/leaders_teams/second_team_bg.png");
	margin-top: 30px;
	font: 18px "Open Sans Bold";
}

.leaders_team .first_team .leader_card {
	height: 447px;
	width: 283px;
	background: url("../img/leaders_teams/first_team_bg.png");
	font: 22px "Open Sans Bold";
}

.leader_card .photo {
	width: 232px;
	height: 145px;
	overflow: hidden;
	border-radius: 6px;
}

.leader_card .photo img {
	width: 100%;

}

.leader_card {
	padding: 5px 25px 0;
}

.name_logo {
	display: table;
	height: 70px;
}

.name_logo .name {
	display: table-cell;
	vertical-align: middle;
	width: 60%;
	line-height: 1.2;
}

.first_team .name {
	display: table;
	height: 60px;
	width: 100%;

}

.first_team .name div {
	display: table-cell;
	vertical-align: middle;
	line-height: 1.3;
}

.first_team .logo {
	height: 70px;
}

.leaders_team .photo {
	margin-bottom: 16px;
}

.leaders_team .team_amount {
	position: absolute;
	bottom: 123px;
	left: 67px;
	color: #ffffff;
	font: 18px "Open Sans Semibold";
}

.leaders_team .first_team .btn_support_team {
	margin-top: 73px;
}

.leader_card .progress-bar-success {
	background: #92d400;
	font: 18px "Open Sans Semibold";
	line-height: 31px;
}

.leaders_team .progress {
	height: 31px;
	background: #e5e5e5;
}

.leaders_team .progress-bar {
	text-align: left;
	padding-left: 7px;
}

.leaders_team .btn_support_team {
	width: 167px;
	height: 49px;
	font: 15px "Open Sans Bold";

	margin-top: 22px;
}

#team_list {
	font: 16px "Open Sans";
	color: #002776;
	min-height: 550px;
	padding-top: 25px;
}

#team_list .subtitle_text {
	font-size: 22px;
}

#team_list .sorting {
	margin-left: 25px;
	font-size: 20px;
	color: #00a1de;
	border-bottom: 3px dotted #00a1de;
	cursor: pointer;
}

#team_list .sort_active {
	font-size: 20px;
	color: #81bc00;
	border: none;
}

.teams_table {
	padding: 35px 115px 0;
}

.teams_table .team_card_small {
	background: url("../img/teams_table/team_cell_bg.png");
	height: 90px;
	width: 283px;
	padding-left: 20px;
	display: table;
	margin-bottom: 10px;
}

.teams_table .team_card_small .name {
	display: table-cell;
	height: 45px;
	vertical-align: middle;
}

.teams_table .team_name, #fund_raising .team_name, #fund_raising .photo {
	cursor: pointer;
}

.teams_table .team_cell_btn {
	display: table-cell;
	height: 90px;
	vertical-align: middle;
}

.teams_table .team_cell_btn .team_card_sm_btn {
	width: 46px;
	height: 43px;
	margin-left: 5px;
	padding: 0;
}

.teams_table .progress {
	height: 26px;
	width: 168px;
	background: #e5e5e5;
}

.teams_table .progress-bar-success {
	background: #95d123;
	font: 16px "Open Sans Semibold";
	line-height: 26px;
}

.team_card_small .team_amount {
	position: absolute;
	font: 18px "Open Sans Semibold";
	line-height: 31px;
	color: #ffffff;
	bottom: 17px;
	left: 40px;
}

.teams_table .progress-bar-success img {
	padding-bottom: 3px;
}

.teams_table .progress-bar {
	text-align: left;
	padding-left: 7px;
}

.teams_table .carousel-caption {
	width: 100%;
	height: 480px;
	left: 0;
	right: 0;
	color: inherit;
	text-shadow: none;
}

.teams_table .carousel-indicators li {
	height: 19px;
	width: 19px;
	background: #f4f4f4;
	margin-left: 5px;
}

.teams_table .carousel-indicators .active {
	height: 19px;
	width: 19px;
	background: #95d123;
}

#race_stages {
	min-height: 890px;
	background: #f4f4f4;
}

#race_stages > .container > p {
	margin: 0 130px;
}

#race_stages .race_stages_img {
	padding-top: 65px;
}

#race_stages .text {
	margin-top: 10px;
	padding: 0 100px 0 130px;
}

#race_stages .text .description {
	padding-left: 40px;
	padding-right: 40px;
}

#race_stages .text p, #rules_register .info p {
	color: #555555;
	font: 13px "Open Sans Semibold";
	margin: 0;
}

#race_stages .text h3 {
	color: #032a74;
	font: 18px "Open Sans";
}

.download {
	height: 103px;
	width: 822px;
	display: inline-block;
	border: 1px solid #cccccc;
	border-radius: 5px;
	margin-top: 80px;
	padding: 23px 0;
	color: #555555;
	font: 18px "Open Sans";
}

.download .btn {
	padding: 0;
	margin: 6px 12px;
}

#rules_register {
	min-height: 890px;
}

#rules_register .info {
	height: 336px;
	width: 272px;
	background: #f1faff;
}

#rules_register .common_info img {
	position: relative;
	top: 60px;
}

#rules_register .info {
	padding: 60px 30px 0;
}

#rules_register .info h3 {
	color: #193276;
	font: 20px "Open Sans";
}

#rules_register .info .registration_button {
	position: absolute;
	margin: 0 auto;
	bottom: 30px;
	left: 55px;
	font: 14px "Open Sans Extrabold";
}

#rules_register .info .registration_button button {
	width: 192px;
	height: 43px;
}

#map {
	min-height: 890px;
}

#google-map-canvas {
	position: absolute;
	height: 890px;
	z-index: 1;
	width: 100%;
	margin: 0;
	padding: 0;
}

#map h1 {
	position: relative;
	color: #f1faff;
	z-index: 10;
}

#map .info_block {
	position: relative;
	height: 192px;
	width: 507px;
	z-index: 10;
	background: #ffffff;
	border-radius: 5px;
	padding: 20px 30px;
	margin-left: 15px;
}

.info_block h4 {
	font: 15px "Open Sans Semibold";
	color: #555555;
}

.info_block img {
	margin-right: 10px;
}

.info_block p {
	font: 13px "Open Sans Semibold";
	color: #555555;
	margin: 0;
}

#map .download {
	position: relative;
	z-index: 10;
	top: 300px;
}

#history {
	min-height: 900px;
}

#history h1 {
	color: #95d123;
}

#history p {
	color: #000000;
	font: 18px "Open Sans";
	margin: 0 65px 30px;
}

#history .link_block {
	display: inline-block;
	height: 65px;
	width: 821px;
	background: #e9f7fc;
	border-radius: 6px;
	padding: 20px;
}

.link_block span {
	color: #95d123;
	font: 18px "open sans";
	padding: 0 10px;
}

.link_block a {
	color: #00a1de;
	font: 13px "Open Sans";
	text-decoration: underline;
}

#photo_carousel {
	margin-top: 40px;
	min-height: 270px;
}

#photo_carousel .item {
	margin: 33px;
}

#photo_carousel .item img {
	display: block;
	width: 100%;
	height: auto;
}

#photo_carousel img {
	height: 220px;
}

#partners {
	min-height: 470px;
	background: #f4f4f4;
}

#partners p {
	color: #000000;
}

#partners .partners_capabilities {
	height: 162px;
	width: 821px;
	background: #ffffff;
	display: inline-block;
	border-radius: 5px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 15px;
}

#partners .partners_capabilities h4 {
	color: #032a74;
	font: 15px "Open Sans Bold";
}

#partners .partners_capabilities p {
	color: #032a74;
	font: 14px "Open Sans";
}

#partners .partners_capabilities span {
	color: #00a1de;
	text-decoration: underline;
}

#about_downside_up {
	min-height: 390px;

}

#about_downside_up .about {
	background: url("../img/about_downside_up/left_bg.jpg") no-repeat left bottom, url("../img/about_downside_up/right_bg.jpg") no-repeat right bottom;
	min-height: 390px;
}

#about_downside_up .about img {
	margin: 37px 0;
}

#about_downside_up .about p {
	color: #002776;
	padding: 0 200px;
}

#footer .social_links {
	background: #ffffff;
}

#partners .partners_table .logo {
	padding: 30px;
}

@media screen and (max-width: 1200px) and (min-width: 991px) {
	#menu a {
		font-size: 16px;
		margin-right: 20px;
	}

	#menu a:first-child {
		margin-left: 20px;
	}

	.leaders_team {
		padding: 100px 30px 0;
	}

	.teams_table {
		padding: 35px 15px 0;
	}
}

@media screen and (max-width: 992px) {
	#title .funded_text .line1, #title .funded_text .line2 {
		font-size: 30px;
	}

	#menu a {
		font-size: 14px;
		margin-right: 10px;

	}

	#menu a:first-child {
		margin-left: 10px;
	}

	.social_links .share_links {
		padding-right: 90px;
	}

	.social_links .extra_mile_links {
		padding-left: 90px;
	}

	.leaders_team {
		padding: 100px 0 0;
	}

	.teams_table {
		padding: 35px 0 0;
	}
}
